
/**{*/
    /*box-sizing: border-box*/
/*}*/

/*body{*/
    /*margin: 0px;*/
    /*padding: 0px;*/
/*}*/

/*.col-1{ width: 8.33%; }*/
/*.col-2{ width: 16.66%; }*/
/*.col-3{ width: 25%; }*/
/*.col-4{ width: 33.33%; }*/
/*.col-5{ width: 41.66%; }*/
/*.col-6{ width: 50%; }*/
/*.col-7{ width: 58.33%; }*/
/*.col-8{ width: 66.66%; }*/
/*.col-9{ width: 75%; }*/
/*.col-10{ width: 83.33%; }*/
/*.col-11{ width: 91.66%; }*/
/*.col-12{ width: 100%; }*/

/*[class*='col-']{*/
    /*float: left;*/
    /*border: 1px solid gray;*/
/*}*/

/*.row:after{*/
    /*content: ' ';*/
    /*clear: both;*/
    /*display: block;*/
/*}*/

/*.wrapper{*/
    /*width: 90%;*/
    /*height: auto;*/
    /*margin: auto;*/
/*}*/

/*.header-height{ height: 200px;}*/
/*.menu-height{ height: 50px;}*/
/*.content-height{ height: 600px;}*/
/*.footer-height{ height: 50px;}*/

/*.div-five{*/
    /*!*background-color: #2bd6ff;*!*/
/*}*/

/*.div-one{*/
    /*height: 200px;*/
    /*width: 200px;*/
    /*background-color: green;*/
    /*position: relative;*/
    /*border-radius: 50;*/
    /*animation-name: test;*/
    /*animation-duration: 2s;*/
    /*animation-direction: ;*/
    /*animation-iteration-count: infinite;*/
    /*float: left;*/
/*}*/

/*.div-two{*/
    /*height: 200px;*/
    /*width: 200px;*/
    /*background-color: #2bd6ff;*/
    /*float: left;*/
    /*position: relative;*/
    /*top: 300px;*/
    /*left: 300px;*/
    /*animation-name: test1;*/
    /*animation-duration: 2s;*/
    /*animation-iteration-count: infinite;*/
    /*border-radius: 20%;*/
/*}*/

/*.box-one{*/
    /*height: 300px;*/
    /*width: 550px;*/
    /*!*background-color: red;*!*/
    /*!*background-image: url("../images/leading.jpg");*!*/
    /*animation-name: slider;*/
    /*animation-duration: 5s;*/
    /*animation-iteration-count: infinite;*/
    /*background-size: 550px 300px;*/
/*}*/

/*.main-ul{*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*list-style-type: none;*/


    /*position: relative;*/
/*}*/

/*.main-li{*/
    /*float: left;*/
    /*width: 25%;*/
    /*border: 1px solid gray;*/
/*}*/

/*.main-li .main-a{*/
    /*text-decoration: none;*/
    /*display: block;*/
    /*background-color: black;*/
    /*color: white;*/
    /*height: 50px;*/
    /*padding-top: 15px;*/
    /*text-align: center;*/
/*}*/

/*.second-ul{*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*list-style-type: none;*/
/*}*/

/*.second-a{*/
    /*text-decoration: none;*/
    /*display: block;*/
    /*height: 50px;*/
    /*padding-top: 15px;*/
    /*text-align: center;*/
    /*background-color: black;*/
    /*color: white;*/
    /*border: 1px solid gray;*/
/*}*/

/*.second-li{*/
    /*display: none;*/
/*}*/

/*.main-li:hover .second-li{*/
    /*display: block;*/
/*}*/

/*!*@keyframes test {*!*/
/*!*0% { background-color: red; width: 200px; object-position: left;}*!*/
/*!*25% { background-color: blue; width: 800px; height: 200px; object-position: right;}*!*/
/*!*50% { background-color: yellow; width: 200px; height: 200px; object-position: left;}*!*/
/*!*75% { background-color: gray; height: 800px; object-position: bottom;}*!*/
/*!*100% { background-color: green; height: 200px; object-position: top;}*!*/
/*!*}*!*/

/*@keyframes test {*/
    /*0% { background-color: red; position: relative; top: 0px; left: 0px;}*/
    /*25% { background-color: blue; position: relative; top: 0px; left: 900px;}*/
    /*50% { background-color: yellow; position: relative; left: 900px; top: 700px; }*/
    /*75% { background-color: gray; position: relative; left: 0px; top: 700px; }*/
    /*100% { background-color: green; position: relative; top: 0px;}*/
/*}*/

/*@keyframes test1 {*/
    /*0% { background-color: red; transform: rotate(0deg) scale(1);}*/
    /*50% { background-color: yellow; transform: rotate(360deg) scale(1.8);}*/
    /*100% { background-color: green;transform: rotate(0deg) scale(1);}*/
/*}*/

/*@keyframes slider {*/
    /*0% { background-image: url("../images/leading.jpg");}*/
    /*25% { background-image: url("../images/leading4.jpg");  }*/
    /*50% { background-image: url("../images/leading3.jpg");  }*/
    /*75% { background-image: url("../images/leading5.jpg");  }*/
    /*100% { background-image: url("../images/Portfolio.png"); }*/
/*}*/

/*!*those above lines are for box shadow*!*/
/*!*.div-onee{*!*/

    /*!*height: 200px;*!*/
    /*!*width: 200px;*!*/
    /*!*background-color: #56ff23;*!*/
    /*!*margin: 50px;*!*/
    /*!*!*box-shadow:  0px 0px 10px 5px gray;*!*!*/
/*!*}*!*/
/*!*.div-onee:hover{*!*/

    /*!*box-shadow:  0px 0px 10px 5px gray;*!*/
/*!*}*!*/

/*!*those lines are for opacity*!*/
/*!*.div-onee{*!*/

    /*!*height: 300px;*!*/
    /*!*width: 400px;*!*/
    /*!*background-color: red;*!*/
    /*!*margin: 10px;*!*/
    /*!*opacity: .1;*!*/
    /*!*transition: 1sl;*!*/
/*!*}*!*/
/*!*.div-onee:hover{*!*/

    /*!*opacity: 1;*!*/
/*!*}*!*/

/*!*those lines are for creating image along with image description like prothom alo*!*/
/*.div-onee{*/

    /*width: 300px;*/
    /*height: 300px;*/
    /*border: 1px solid gray;*/
    /*margin: 50px;*/
/*}*/
/*.div-onee:hover{*/

    /*box-shadow: 0px 0px 10px 5px darkgray;*/
/*}*/
/*.img1{*/

    /*height : 100px;*/
    /*width : 150px;*/
    /*float:left;*/
    /*margin-right: 10px;*/
/*}*/
/*.p-one{*/

    /*padding: 10px;*/
    /*text-align: justify;*/
/*}*/
/*.a-one{*/

    /*!*text-decoration : none;*!*/
    /*!*color: white;*!*/
    /*!*text-align: center;*!*/

    /*height: 40px;*/
    /*background-color: blue;*/
    /*color: white;*/
    /*padding: 10px;*/
    /*text-decoration: none;*/
    /*margin-bottom: 10px ;*/
    /*margin-left: 105px ;*/
    /*border-radius: 8px;*/

    /*!*background-color: ForestGreen;*!*/
    /*!*border-radius: 5px;*!*/
    /*!*color: white;*!*/
    /*!*padding: .5em;*!*/
    /*!*text-decoration: none;*!*/

/*}*/

.new-div{

    height: 300px;
    width: 30%;
    border: 5px solid red;
    margin: 100px;
}
.new-image{

    width: 100%;
    height: 100%;
}